
// Filo Color Palette
$grey-dark-color: #3B3B3B;
$Teal-dark-color: #1E566C;
$Teal-medium-color: #5795A7;
$Teal-light-color: #79BEC3;
$grey-light-color: #F2F2F7;
$Gold-dark-color: #D2A93A;
$Gold-light-color: #DBBF57;
$Sand-color: #E2DAD6;
$background-color: #ffffff;

// Filo Font Family
$Font-light: 'BA-Light', sans-serif;
$Font-regular: 'BA-Light', sans-serif;
$Font-bold: 'BA-ExtraBold', sans-serif;
$Font-extraBold: 'BA-ExtraBold', sans-serif;


// Filo Font Family
@font-face {
    font-family: "Almarai-ExtraBold";
    src: url(../Assets/Fonts/Almarai-ExtraBold.ttf) format('trueType');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Almarai-Bold";
    src: url(../Assets/Fonts/Almarai-Bold.ttf) format('trueType');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Almarai-Regular";
    src: url(../Assets/Fonts/Almarai-Regular.ttf) format('trueType');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Almarai-Light";
    src: url(../Assets/Fonts/Almarai-Light.ttf) format('trueType');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "BA-Regular";
    src: url(../Assets/Fonts/BuenosAires-Regular.ttf) format('trueType');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "BA-Bold";
    src: url(../Assets/Fonts/BuenosAires-Bold.ttf) format('trueType');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "BA-Light";
    src: url(../Assets/Fonts/BuenosAires-Light.ttf) format('trueType');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "BA-ExtraBold";
    src: url(../Assets/Fonts/BuenosAires-Black.ttf) format('trueType');
    font-weight: 800;
    font-style: normal;
}