#contact-main {
    display: flex;
    justify-content: space-between;
    height: 70vh;
    background-color: transparent;

    .contact-content {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 10%;
        padding-right: 10%;
        min-width: 400px;

        h2 {
            font-family: $Font-extraBold;
            font-size: 1.5rem;
            color: $grey-dark-color;
            margin-bottom: 0px;
            text-align: center;
        }

        p {
            font-family: $Font-light;
            font-size: 1rem;
            color: $grey-dark-color;
            margin-bottom: 10px;
            text-align: center;
        }

        .contact-form {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            input,
            textarea {
                width: 100%;
                padding: 5px;
                margin-bottom: 0px;
                border: 1px solid #ddd;
                border-radius: 5px;
                font-size: 1rem;
                font-family: $Font-light;
                background-color: $grey-light-color;
            }

            .btn {
                width: 100%;
                padding: 5px;
                background-color: $Teal-dark-color;
                color: white;
                font-size: 1rem;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s;

                &:hover {
                    background-color: $Teal-medium-color;
                }
            }
        }
    }

    .hero-image {
        flex-basis: 50%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
        background-color: transparent;

        img {
            height: 100%;
            width: auto;
            object-fit: cover;
            opacity: 100%
        }
    }
}
